#about-me-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#about-me-info {
    text-align: center;
}

#about-me-connect-header {
    align-self: start;
    padding: 0rem 0rem 1rem 0rem;
}

#about-me-contact p {
    font-size: 1.5rem;
}

#about-me-connect-info {
    width: 75rem;
    height: 18rem;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 5rem;
}

#about-me-connect-info div {
    display: flex;
    flex-direction: column;
    height: 18rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

#about-me-connect-info img {
    height: 7.5rem;
}