:root {
    --background-color: #120020;
    --blue: #150050;
    --purple: #3F0071;
    --light-purple: #610094;
}

body {
    background-color: var(--background-color);
}

section:not(.active) {
    display: none;
}