body {
    background-image: linear-gradient(rgb(39, 39, 39),rgb(24, 24, 24));
    color: rgb(190, 190, 190);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    line-height: 20pt;
}

header {
    display: grid;
    place-items: center;
    margin-top: 30vh;
    margin-bottom: 60vh;
    font-size: 20pt;
    line-height: 30pt;
}

main section {
    display: grid;
    place-items: center;
    align-items: center;
    margin-top: 50vh;
    margin-bottom: 50vh;
    margin-left: 25vw;
    margin-right: 25vw;
}

div  {
    max-width: 50vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

h2 {
    display: grid;
    place-items: center;
    align-items: center;
}

header .hidden {
    opacity: 0;
    filter: blur(50px);
    transition: all 3s;
}

header .show {
    opacity: 1;
    filter: blur(0);
}

main .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

main .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}