#projects-gallery {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    width: 42rem;
    height: 33rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#projects-gallery::-webkit-scrollbar {
    display: none;
}